In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Daniel_7_2.csv')

In [3]:
df.head()

,verses,symbol and intepretation,notes/explanation
0,(Dan 7:3) And four great beasts came up from t...,Beast --> Kingdoms (See Dan 7:23)\nSea --> Peo...,Daniel Saw Four great Kingdoms coming out of t...
1,"(Dan 7:4) The first was like a lion, and had e...","Lion --> Strong Nation, Fierce, Vicious, royal...","In Daniel 7:4, the Babylonian empire is depict..."
2,"(Dan 7:5) And behold another beast, a second, ...","Bear -> Government, violent (See Lam 3:10, 2 S...","In Daniel 7:5, the Medo-Persian Empire is symb..."
3,"(Dan 7:6) After this I beheld, and lo another,...","Leopard -> Government (See Jer 5:6, Hos 13:7)\...","The third kingdom, Greece, is represented in D..."
4,(Dan 7:7) After this I saw in the night vision...,Beast -> Kingdom (See Dan 7:23) \nIron -> Stre...,The fourth beast in Daniel’s vision is unlike ...

In [4]:
df.describe()

,verses,symbol and intepretation,notes/explanation
count,15,14,14
unique,15,14,14
top,(Dan 7:3) And four great beasts came up from t...,Beast --> Kingdoms (See Dan 7:23)\nSea --> Peo...,Daniel Saw Four great Kingdoms coming out of t...
freq,1,1,1

0    (Dan 7:3) And four great beasts came up from t...
Name: verses, dtype: object